view,
swiper,
swiper-item {
  box-sizing: border-box;
}

.pageBg {
  // 背景渐变：多重渐变层叠样式
  background: linear-gradient(to bottom, transparent 0, #fff 400rpx), linear-gradient(to right, #beecd8 20%, #F4E2D8);
  min-height: 80vh; //最小高度
}
